<ul id="slide-out" class="sidenav blue z-depth-5" th:fragment="mobile-links">
  <li>
    <a th:href="@{/home}"><h3 class="white-text">Case a day</h3></a>
  </li>
  <br>
  <li>
    <a th:href="@{/createNewCase}">
      <div class="white-text">Create case</div>
    </a>
  </li>
  <div class="divider"></div>
  <li>
    <a class="modal-trigger" href="#modal1">
      <div class="white-text">Calendar</div>
    </a>
  </li>
  <li>
    <a class="modal-trigger" href="#modal2">
      <div class="white-text">Notifications</div>
    </a>
  </li>
  <li>
    <a class="modal-trigger" href="#modal3">
      <div class="white-text">Search</div>
    </a>
  </li>
</ul>