.no-wrap {
  overflow: hidden;
  white-space: nowrap;
  width: 50px;
}

* {
  font-family: "Roboto", sans-serif;
}


.desktop-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 64px auto;
  grid-template-areas:
    "nav"
    "main";
}

.section-main {
  grid-area: main;
}

.nav-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  grid-area: nav;
}

.section-main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 300px auto;
  grid-template-areas: "left right";
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .section-main {
    grid-template-columns: 0px auto;
  }
}

.section-main::-webkit-scrollbar {
  display: none;
}

.section-side-cases {
  grid-area: left;
  overflow: scroll;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.section-side-cases::-webkit-scrollbar {
  display: none;
}

.section-right {
  grid-area: right;
  overflow: scroll;
  padding-bottom: 300px;
}

.section-right::-webkit-scrollbar {
  display: none;
}

/* MATERIALIZE STUFF */

.collection {
  margin: 0px;
}

.btn {
  width: 60%;
  margin: 50px;
  margin-left: 20%;
  font-weight: bold;
}

.bigger {
  height: 80px;
}

.content-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.content-item {
  background-color: white;
  color: black;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  font-size: 30px;
}

.go-away {
  position: absolute;
  left: -9999px;
}

input[type="text"]:not(.browser-default) {
  color: black;
  height: 50px;
}

input {
  height: 50px;
}

.create-item-form {
  width: 40%;
  margin-left: 20%;
}

.create-item-input {
  width: 20px;
  left: 20%;
  position: relative;
}

.btn:hover {
  background-color: #3998ff;
  color: white;
  transition: 1ms;
}

.side-nav li > a {
  padding: 0 16px;
}

.side-nav .divider {
  margin: 0;
  height: 8px;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
}

.sidenav-header {
  background: url("../images/user-bg.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
  padding: 15px 0 0 15px;
}
.sidenav-footer {
  margin-bottom: 0px;
  padding: 0;
}