<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <div class="container">
    <h1>Missing</h1>
    <blockquote>This page may no longer exist</blockquote>
    <blockquote>Double check the url you typed</blockquote>
    <div class="divider"></div>
    <a th:href="@{/home}"><h2>Return home</h2></a>
  </div>
  <body></body>
</html>
