<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>
<div>
    <form id="accountForm" th:method="post" th:action="@{/updateWard}" th:object="${wardForm}">
        <select th:if="${wardKey}" aria-describedby="Select your ward" th:field="*{wardName}">
            <option th:each="ward : ${wardKey}" th:value="${ward.name}" th:text="${ward.name}"></option>
        </select>

        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>