<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Title</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="desktop-grid blue lighten-5">
      <div th:replace="fragments/nav :: navbar"></div>
      <div class="section-main">
        <!--   New Side Bar Fragment     -->
        <div
          class="section-side-cases blue darken-1 z-depth-1 hide-on-small-only"
        >
          <div
            th:replace="${#ctx.containsVariable('category')}?
        ~{fragments/sidebar.html :: sidebar-button} :
        ~{fragments/sidebar.html :: sidebar-no-button}"
          ></div>
          <ul th:replace="fragments/sidebar.html :: sidebar-items"></ul>
        </div>

        <div class="section-right container">
          <br />
          <center>
            <h3
              id="categoryName"
              th:if="${#ctx.containsVariable('category')}"
              th:text="${category.name}"
            >
              helpme
            </h3>
            <h4
              th:if="${#ctx.containsVariable('diagnosisName')}"
              th:text="${diagnosisName}"
            ></h4>
          </center>

          <form
            th:if="${#ctx.containsVariable('diagnosisKey')}"
            id="createDiagnosis"
            class="create-item-form"
          >
            <input
              placeholder="New Diagnosis"
              id="diagnosisName"
              type="text"
              class="create-item-input"
              minlength=5
            />
            <button class="go-away" id="submit" type="submit">
              New Diagnosis
            </button>
          </form>

          <form
            th:if="${#ctx.containsVariable('categoryKey')}"
            id="createCategory"
            class="create-item-form"
          >
            <input
            placeholder="New Category"
            id="categoryName"
            type="text"
            class="create-item-input"
            minlength=5
            />
            <button class="go-away" id="submit" type="submit">
              New Category
            </button>
          </form>

          <button
            th:if="${#ctx.containsVariable('diagnosisName')}"
            type="button"
            class="btn blue white-text collapsible"
          >
            Open Collapsible
          </button>
          <div class="content z-depth-1">
            <div th:if="${#ctx.containsVariable('diagnosisName')}">
              <form
                method="post"
                th:action="@{/diagnosis/{dia}/addDiagnosisInfo (dia=${diagnosisIndex})}"
                th:object="${diagnosisInfoKey}"
              >
                <table id="diaInfoTable">
                  <tr>
                    <th>Key</th>
                    <th>Value</th>
                  </tr>
                  <tr style="border-bottom: none">
                    <th>
                      <label class="black-text" th:for="key">Key</label>

                      <input
                        aria-describedby="Enter the key"
                        th:field="*{key}"
                        type="text"
                      />

                      <div
                        th:errors="*{key}"
                        th:if="${#fields.hasErrors('key')}"
                      >
                        Key Error
                      </div>
                    </th>
                    <th>
                      <label class="black-text" th:for="value">Value</label>

                      <input
                        aria-describedby="Enter the value"
                        th:field="*{value}"
                        type="text"
                      />

                      <div
                        th:errors="*{value}"
                        th:if="${#fields.hasErrors('value')}"
                      >
                        Value Error
                      </div>
                    </th>
                  </tr>
                </table>

                <button class="btn blue white-text" id="submit" type="submit">
                  Update
                </button>
              </form>
            </div>
          </div>

          <div class="content-grid" id="content-grid">
            <a
              th:each="category : ${categories}"
              th:href="@{/category/{id}(id=${category.id})}"
              style="width:100%"
            >
              <button class="btn content-item bigger">
                <b th:text="${category.name}"></b>
              </button>
            </a>

            <!-- <button
              class="btn content-item"
              th:if="${diagnoses !=null}"
              th:each="diagnosis : ${diagnoses}"
            >
              <a th:href="@{/category/{categoryIndex}/diagnosis/{diagnosisIndex}(diagnosisIndex=${diagnosis.id}, categoryIndex=${category.Id})}">
                <b th:text="${diagnosis.name}"></b>
              </a>
            </button> -->

            <a
              th:each="case : ${returnedCases}"
              th:href="@{/case/{caseId}(caseId=${case.id})}"
              style="width:100%"
            >
              <button class="btn content-item bigger">
                <b th:text="${case.name}"></b>
              </button>
            </a>
          </div>

          <!--<div th:if="${#ctx.containsVariable('returnedDiagnosisInfo')}"
               th:action="@{/home}">
            <div th:if="${returnedDiagnosisInfo != null}"
                 th:each="diagnosisInfo : ${returnedDiagnosisInfo}">
              <p th:text="${diagnosisInfo.key}"></p>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    </script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: "DOMContentLoaded", // name of the event dispatched on the document, that AOS should initialize on
        initClassName: "aos-init", // class applied after initialization
        animatedClassName: "aos-animate", // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: "ease", // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: "top-bottom" // defines which position of the element regarding to window should trigger the animation
      });
    </script>
    <script type="text/javascript" th:src="@{/home.js}"></script>
    <script type="text/javascript" th:src="@{/sitewide.js}"></script>
  </body>
</html>
