<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Title</title>
  </head>
  <body>
    <nav class="hide-on-med-and-up">
      <div class="nav-wrapper blue darken-2">
        <a href="#" class="brand-logo">Case a Day</a>
        <ul class="right">
          <li>
            <a class="nav-item" href="#!">
              <i class="material-icons">account_box</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container hide-on-med-and-up">
      <ul class="collection with-header">
        <li class="collection-header">
          <h3>Category name</h3>
        </li>
        <a href="#!" class="collection-item" th:each="case : ${cases}">
          <span th:text="${case.name}"></span>
        </a>
      </ul>
    </div>

    <div class="hide-on-small-only desktop-grid">
      <div th:replace="fragments/nav :: navbar"></div>
      <div class="section-main">

        <!--   New Side Bar Fragment     -->
        <div  class="section-side-cases blue darken-1 z-depth-1">
        <div th:replace="${#ctx.containsVariable('category')}?
        ~{fragments/sidebar.html :: sidebar-button} :
        ~{fragments/sidebar.html :: sidebar-no-button}">

        </div>
        <ul th:replace="fragments/sidebar.html :: sidebar-items"></ul>
        </div>


        <div class="section-right">
          <center>
            <h3
              th:if="${#ctx.containsVariable('category')}"
              th:text="${category.name}"
            ></h3>
            <h4 th:if="${#ctx.containsVariable('diagnosisName')}" th:text="${diagnosisName}"></h4>

            <h3
              th:if="${#ctx.containsVariable('diagnosisKey')}"></h3>
          </center>

          <div class="content-grid">
            <form
              th:if="${#ctx.containsVariable('diagnosisKey')}"
              th:action="@{/category/{id}(id=${diagnosisKey.categories.id})}"
              method="post"
              th:object="${diagnosisKey}"
              class="content-item"
            >
              <input
                placeholder="New Diagnosis"
                th:field="*{name}"
                type="text"
              />
              <button class="go-away" type="submit">
                New Diagnosis
              </button>
            </form>

            <form
              th:if="${#ctx.containsVariable('categoryKey')}"
              th:action="@{/home}"
              method="post"
              th:object="${categoryKey}"
              class="content-item"
            >
              <input
                placeholder="New Category"
                th:field="*{name}"
                type="text"
              />
              <button class="go-away" id="submit" type="submit">
                New Category
              </button>
            </form>

            <button class="btn content-item" th:each="category : ${categories}">
              <a th:href="@{/category/{id}(id=${category.id})}">
                <b th:text="${category.name}"></b>
              </a>
            </button>
            <button
              class="btn content-item"
              th:if="${diagnoses !=null}"
              th:each="diagnosis : ${diagnoses}"
            >
              <a th:href="@{/category/{categoryIndex}/diagnosis/{diagnosisIndex}(diagnosisIndex=${diagnosis.id}, categoryIndex=${category.Id})}">
                <b th:text="${diagnosis.name}"></b>
              </a>
            </button>
            <div
              class="content-item"
              th:if="${returnedCases !=null}"
              th:each="case : ${returnedCases}"
            >
              <a th:href="@{/case/{caseId}(caseId=${case.id})}">
                <b th:text="${case.name}"></b>
              </a>
            </div>
          </div>
          <div th:if="${#ctx.containsVariable('returnedDiagnosisInfo')}"
               th:action="@{/home}">
            <div th:if="${returnedDiagnosisInfo != null}"
                 th:each="diagnosisInfo : ${returnedDiagnosisInfo}">
              <p th:text="${diagnosisInfo.key}"></p>
              <p th:text="${diagnosisInfo.value}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
