<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Title</title>
  </head>
  <body>
    <nav class="hide-on-med-and-up">
      <div class="nav-wrapper blue darken-2">
        <a href="#" class="brand-logo">Case a Day</a>
        <ul class="right">
          <li>
            <a class="nav-item" href="#!">
              <i class="material-icons">account_box</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container hide-on-med-and-up">
      <ul class="collection with-header">
        <li class="collection-header">
          <h3>Category name</h3>
        </li>
        <a href="#!" class="collection-item" th:each="case : ${cases}">
          <span th:text="${case.name}"></span>
        </a>
      </ul>
    </div>

    <div class="hide-on-small-only desktop-grid">
      <div th:replace="fragments/nav :: navbar"></div>
      <div class="section-main">

        <!--   New Side Bar Fragment     -->
        <div  class="section-side-cases blue darken-1 z-depth-1">
        <div th:replace="${#ctx.containsVariable('category')}?
        ~{fragments/sidebar.html :: sidebar-button} :
        ~{fragments/sidebar.html :: sidebar-no-button}">

        </div>
        <ul th:replace="fragments/sidebar.html :: sidebar-items"></ul>
        </div>


        <div class="section-right">
          <center>
            <h3
              id="categoryName"
              th:if="${#ctx.containsVariable('category')}"
              th:text="${category.name}"
            >helpme</h3>
            <h4 th:if="${#ctx.containsVariable('diagnosisName')}" th:text="${diagnosisName}"></h4>

            <h3
              th:if="${#ctx.containsVariable('diagnosisKey')}"></h3>
          </center>

          <div class="content-grid" id="content-grid">
            <form
              th:if="${#ctx.containsVariable('diagnosisKey')}"
              id="createDiagnosis"
            >
              <input
                placeholder="New Diagnosis"
                id="diagnosisName"
                type="text"
              />
              <button class="go-away" id="submit" type="submit">
                New Diagnosis
              </button>
            </form>

            <form
              th:if="${#ctx.containsVariable('categoryKey')}"
              th:action="@{/home}"
              method="post"
              th:object="${categoryKey}"
              class="content-item"
            >
              <input
                placeholder="New Category"
                th:field="*{name}"
                type="text"
              />
              <button class="go-away" id="submit" type="submit">
                New Category
              </button>
            </form>

            <a th:each="category : ${categories}" th:href="@{/category/{id}(id=${category.id})}">
              <button class="btn content-item">
                  <b th:text="${category.name}"></b>
              </button>
            </a>
            
            <!-- <button
              class="btn content-item"
              th:if="${diagnoses !=null}"
              th:each="diagnosis : ${diagnoses}"
            >
              <a th:href="@{/category/{categoryIndex}/diagnosis/{diagnosisIndex}(diagnosisIndex=${diagnosis.id}, categoryIndex=${category.Id})}">
                <b th:text="${diagnosis.name}"></b>
              </a>
            </button> -->

            <div
              class="content-item"
              th:if="${returnedCases !=null}"
              th:each="case : ${returnedCases}"
            >
              <a th:href="@{/case/{caseId}(caseId=${case.id})}">
                <b th:text="${case.name}"></b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      console.log("hi");
      $(document).ready(function() {
        $.get("/recentCases/", function(data) {
          $(".result").html(data);
          console.log(data);
          var listOfCases = document.getElementById("recentCases");
          for (i = 0; i < data.length; i++) {
            var li = document.createElement("a");
            li.appendChild(document.createTextNode(data[i].name));
            li.setAttribute("id", data[i].id);
            li.setAttribute("class", "collection-item");
            li.setAttribute("href", "/case/" + data[i].id);
            listOfCases.appendChild(li);
          }
        });

        console.log(window.location);
        lastInt = window.location.pathname[window.location.pathname.length-1];

        $.get("/api/getDiagnosisByCategoryId/" + lastInt, function(data) {
          $(".result").html(data);
          console.log(data);
          var grid = document.getElementById("content-grid");
          for (i = 0; i < data.length; i++) {
            console.log("diagnosis:" + data[i]);
            var a = document.createElement("a");
            var b = document.createElement("button");
            a.setAttribute("href", "/diagnosis/" + data[i].id);
            b.appendChild(document.createTextNode(data[i].name));
            b.setAttribute("class", "btn content-item")
            a.appendChild(b);
            grid.appendChild(a);
            // var li = document.createElement("a");
            // li.appendChild(document.createTextNode(data[i].name));
            // li.setAttribute("id", data[i].id);
            // li.setAttribute("class", "collection-item");
            // li.setAttribute("href", "case/" + data[i].id);
            // listOfCases.appendChild(li);
          }
        });
        
        $("#createDiagnosis").submit(function(e) {
          console.log("please work");
          e.preventDefault();

          var $form = $(this);
          var url = "/api/createDiagnosis/";
          
          var formData = {
            "name" : document.getElementById("diagnosisName").value,
            "categoryName" : document.getElementById("categoryName").innerHTML
          }

          console.log(formData);

          $.ajax({
            contentType : 'application/json; charset=utf-8',
            dataType : 'json',
            type : "POST",
            url: url,
            data: JSON.stringify(formData),

            // success: function(data) {
            //   console.log(data);
            // },

            // error : function(e) {
            //   console.log(e);
            // }
          })
        })
      })
    </script>
  </body>
</html>
