<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Case</title>
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"
    />
</head>
<body>

<main>
    <form id ="submitCases" method="post" th:object="${caseKey}">
        <div>
            <label th:for="name">Name</label>

            <input id = "name" aria-describedBy="Enter your name"
                   type="text"/>
            <span class="name error"></span>
        </div>

        <div>
            <label th:for="demographics">Demographics</label>

            <input id = "demographics" aria-describedBy="Enter the demographics"
                   type="text"/>
            <span class="demographics error"></span>

        </div>

        <div>
            <label th:for="diagnosesList">Diagnoses</label>

            <div id="diagnosesList" class="chips chips-autocomplete chips-placeholder chips-initial" >
                <i class="material-icons">close</i>

            </div>
            <span class="diagnosesList error"></span>
        </div>

        <input type="hidden" id="categoryId" name="categoryId" th:value = "${categoryIndex}">

        <button id="submit" type="submit">Create Case</button>
    </form>
</main>
<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script type="text/javascript">
    console.log("foo");
    // const xhr = new XMLHttpRequest();
    $(document).ready(function() {

        $(".chips-initial").material_chip();
        var data = {};

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/getAllDiagnosis",
            crossDomain: true,

            success: function(response) {
                var diagnosisArray = response;

                for (var i = 0; i < diagnosisArray.length; i++) {
                    console.log(diagnosisArray[i].name);
                    data[diagnosisArray[i].name] = null;
                }
                $(".chips-autocomplete").material_chip({
                    autocompleteData: data
                });
            }
        });

        $("#submitCases").submit(function(e) {
            console.log("hi");
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var $form = $(this);
            var categoryID = document.getElementById("categoryId").value;
            var url = "/api/saveDiagnosis/" + categoryID;
            console.log("PASSED URK: " + url);

            var formData = {
                "name" : document.getElementById("name").value,
                "demographics" : document.getElementById("demographics").value,
                "diagnosesList" : $('#diagnosesList').material_chip('data')
            };

            // formData['diagnoses'] = $('#diagnoses').material_chip('data');

            // console.log(url);
            // console.log(formData);
            console.log("NICE: "+JSON.stringify(formData));


            $.ajax({
                contentType : 'application/json; charset=utf-8',
                dataType : 'json',
                type: "POST",
                url: url,
                // crossDomain: true,
                // data:JSON.stringify($('#diagnoses').material_chip('data')),
                data:JSON.stringify(formData),

                success: function(data) {
                    $form.find('.error').empty();
                    // alert('HERE' + data); // show response from the php script.
                    console.log("SUCESS" +data);
                },
                error : function(e) {
                    $form.find('.error').empty();
                    console.log('Request Status: ' + e.status + ' Status Text: ' + e.statusText + ' ' + ' Response Text: ' + e.responseText);
                    var obj = JSON.parse(e.responseText);
                    for (i = 0; i < obj.result.length; i++) {
                        var item = obj.result[i];
                        console.log("LOGGED FIELD NAME: " + item.fieldName);
                        console.log("LOGGED Message: " + item.errorMessage);
                        var field = document.getElementsByClassName(item.fieldName)[0];
                        console.log("FIELD " + field);
                        field.innerHTML = item.errorMessage;

                    }
                    console.log("PARSED obj: " + obj.result.length);

                }
            });
        });
    });
</script>
</body>
</html>