<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>

</head>
<body>
    <form method="POST" modelAttribute="userForm" class="form-signin" th:object="${user}">
        <div>
            <label th:text="#{user.username}">username</label>
            <input th:field="*{username}"/>
            <p th:each="error : ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
        </div>

        <div>
            <label th:text="#{user.password}">password</label>
            <input th:field="*{password}" type="password"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>

        <div>
            <label th:text="#{user.confirmPass}">confirm</label>
            <input th:field="*{matchingPassword}" type="password"/>
        </div>
        <button th:text="#{form.submit}" type="submit">submit</button>

        </form>








</body>
</html>